
html,button,input,select,textarea 
{
	color: #444
}
html
{
	font-size: 1em; line-height: 1.4;
}
body 
{
	background-color: #fefbd8;
}
#wrapper 
{

max-width: 900px;
min-width: 320px;
margin-left: auto;
margin-right: auto;
}

#p1
{
max-width: 900px;
min-height: 320px;	
margin-left: auto;
margin-right: auto;
}

img 
{	

	float : right;
	position: relative;
	margin-right :100px;
	border-width :1px;
	border-color: #ccc;
	border-radius: 3px;
	background-color: white;
	box-shadow:0px 2px 4px rgba(0.0.0.2);
}
h1
{

font-family: adamina, serif;
}
h2
{
font-family: merriweather, serif;
}

.button
{
	float: left;

}

.fa {
	  padding: 30px;
	  font-size: 40px;
	  width: 100px;
	  text-align: center;
	  text-decoration: none;
	  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}
.fa-github {
  background: #55ACEE;
color: white;

